@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Basic Styling */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #000000;    
}

/* Header Styling */
header {
    margin: 0;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 1%;
    margin-bottom: 1%;     
    font-size: 20px;
    display: flex;
}

header .logo {
    text-align: left;
}

header h1 {
    text-align: center;
    padding-top: 10px;
    flex: 1;
}

/* Main container Styling */
.container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    min-height: 80vh;
}

/* Footer Styling */
footer {
    padding: 20px 0;
    bottom: 0;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;        
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}
