/* Search Area Styling */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.search-box {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  width: 500px;
}

.search-box textarea {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0;
  resize: none;
}

.search-box i {
  font-size: 1.2em;
  color: #666;
  margin: 10px;
}

.search-results {
  list-style: none;
  overflow: auto;
}

.search-results li {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.search-results li:last-child {
  border-bottom: none;
}

.search-results li:hover {
  background-color: #f5f5f5;
}

.search-results .title {
  font-size: 16px;
  margin-bottom: 5px;
}

.search-results .company {
  font-size: 16px;
  margin-bottom: 5px;
}

.search-results .link {
  font-size: 16px;
  margin-bottom: 5px;
}